@import "./colors.scss";

.deleteMessage{
    color: $base-color;
    width: 100%;
    min-height: 100vh;
    overflow-y:scroll ;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    .messageContainer{
        margin: 1.5rem;
        padding: 2rem;
        background-color: $second-color;
        border-radius: 1rem;
        text-align: center;
    }
    button{
        width: 200px;
        border: $base-color 5px solid;
    }
    button:hover{
        background-color: $base-color;
        color: $second-color;
    }
}