.detal-view-section{
    .detal-view-container{
        display: flex;
        margin: 2rem;
        .edit-section, .button-container{
            display: flex;
            flex-direction: column;
        }
        .edit-section{
            width: 80%;
            textarea, input{
                padding: 1rem;
                resize: none;
            };
            .title-textarea{
                font-size: 3rem;
            }
            .value-textarea{
                font-size: 1.5rem;
                height: 300px;
            }
        }
        .button-container{
            width: 20%;
            button{
                transition: 0.5s;
                margin: 1rem;
                padding: 0.7rem;
                border-radius: 1rem;
                border:black solid 0.3rem;
                box-shadow: black 5px 5px 0px;
            }
            button:hover{
                transform: translateY(0.3rem);
                box-shadow: black 2.5px 2.5px 0px;
            }
            button:active{
                transform: translateY(0.7rem);
                box-shadow: black 0px 0px 0px;
            }
        }
    }
}