@import "./colors.scss";

.main-Container{
    .input-Section{
        display: flex;
        justify-content: center;
        .input-Container{
            width: 400px;
            margin: 1rem;
            padding: 1.5rem;
            border-radius: 1rem;
            background-color: $first-color;
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                input,textarea{
                    color: $second-color;
                    width: 350px;
                    height: 30px;
                    padding: 0.5rem;
                    font-size: 1.3rem;
                    border: none;
                    background-color: $first-color;
                    border-bottom: $second-color solid 2px;
                    outline: none;
                }
                input::placeholder,textarea::placeholder{
                    color: $second-color;
                    opacity: 0.5;
                }
                textarea{
                    resize: none;
                }
                button{
                    color: $base-color;
                    font-weight: bolder;
                    font-size: large;
                    transition: 0.5s;
                    width: 200px;
                    margin: 1rem;
                    padding: 1rem;
                    border-radius: 2rem;
                    border: none;
                    background-color: $second-color;
                }
                button:hover{
                    transform: translateY(0.3rem);
                }
                button:active{
                    transform: translateY(0.7rem);
                }
            }
        }
        @media (max-width: 450px){
            .input-Container{
                width: 300px;
                div{
                    input,textarea{
                        width: 90%;
                    }
                }
            }
        }
    }
    .existing-Note-Container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}

