@import "./colors.scss";

.main-Container{
    .input-Section{
        display: flex;
        justify-content: center;
        .input-Container{
            // width: 400px;
            margin: 1rem 1rem 2rem;
            padding: 1rem;
            border-radius: 1rem;
            background-color: $first-color;
            //     border: teal 5px solid;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                input,textarea{
                    color: $second-color;
                    width: 350px;
                    height: 30px;
                    padding: 0.5rem;
                    font-size: 1.3rem;
                    border: none;
                    background-color: $first-color;
                    border-bottom: $second-color solid 2px;
                    outline: none;
                }
                input::placeholder,textarea::placeholder{
                    color: $second-color;
                    opacity: 0.5;
                }
                textarea{
                    resize: none;
                }
                button{
                    margin-top: 1rem;
                    width: 200px;
                    border: none;
                }
            
        }
        @media (max-width: 450px){
            .input-Container{
                width: 300px;
                    input,textarea{
                        width: 90%;
                    }
            }
        }
    }
    .existing-Note-Container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}

