.deleteMessage {
  color: #202040;
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .deleteMessage .messageContainer {
    margin: 1.5rem;
    padding: 2rem;
    background-color: #FFBD69;
    border-radius: 1rem;
    text-align: center; }
  .deleteMessage button {
    width: 200px;
    border: #202040 5px solid; }
  .deleteMessage button:hover {
    background-color: #202040;
    color: #FFBD69; }
