.detal-view-section .detal-view-container {
  display: flex;
  margin: 2rem; }
  .detal-view-section .detal-view-container .edit-section, .detal-view-section .detal-view-container .button-container {
    display: flex;
    flex-direction: column; }
  .detal-view-section .detal-view-container .edit-section {
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 2rem;
    width: 80%; }
    .detal-view-section .detal-view-container .edit-section textarea, .detal-view-section .detal-view-container .edit-section input {
      padding: 1rem;
      resize: none;
      color: #202040;
      background-color: #FF6363;
      border: none; }
    .detal-view-section .detal-view-container .edit-section .title-textarea {
      font-size: 3rem;
      border-bottom: #202040 5px solid; }
    .detal-view-section .detal-view-container .edit-section .value-textarea {
      font-size: 1.5rem;
      height: 300px; }
  .detal-view-section .detal-view-container .button-container {
    width: 20%; }
    .detal-view-section .detal-view-container .button-container button {
      border: none; }

@media only screen and (max-width: 600px) {
  .detal-view-section .detal-view-container {
    display: flex;
    flex-direction: column;
    margin: 2rem; }
    .detal-view-section .detal-view-container .edit-section, .detal-view-section .detal-view-container .button-container {
      display: flex;
      flex-direction: column; }
    .detal-view-section .detal-view-container .edit-section {
      border-radius: 1rem;
      overflow: hidden;
      width: 100%; }
    .detal-view-section .detal-view-container .button-container {
      width: 100%; }
      .detal-view-section .detal-view-container .button-container button {
        border: none; } }
