.slot {
  width: 200px;
  height: 300px;
  margin: 1.5rem;
  padding: 2rem;
  border-radius: 1rem;
  border: black solid 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: black 10px 10px 0px; }
  .slot article textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: white;
    resize: none; }
  .slot .icons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
